canvas {
    border: 1px solid black;
    max-height: 98vh;
    max-width: 100%;
    margin: auto;
    display: block;
  }

@font-face {
    font-family: harry;
    src: url(HARRP___.TTF);
}

nav{
  font-family: harry;
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item {
  padding: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#story {
  padding-top: 20px;
  color: black;
  text-align: center;
}

.character-display{
    width:64px;
    height:64px;
    align-self: center;
}

#instructions {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.player-intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px chartreuse dotted;
  padding: 40px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

#play{
  display: flex;
  justify-content: space-around;
}

#credits{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#h1-play {
  text-align: center;
  font-family: harry;
  margin-top: 15px;
}

canvas {
  margin-bottom: 20px;
}